<div class="main-container">
  <app-navbar></app-navbar>
  <div class="content-container">
    <div class="content-area">
      <div class="row">
        <div class="header-nav">
          <!-- <div class="col-12 nav-text"> -->
          <mdb-breadcrumb>
            <mdb-breadcrumb-item class="active animated slideInLeft" data-wow-delay="0.10s">About Us</mdb-breadcrumb-item>
          </mdb-breadcrumb>
          <!-- </div> -->
        </div>

      </div>
      <div class="row">
          <div class="col-md-8 text-right subnav">
              <p>
                <a routerLink="/">Home</a> &nbsp; <mdb-icon fas icon="angle-right"></mdb-icon>&nbsp;
                <a  routerLink="/about">
                    About Us
                </a> 
              </p>
            </div>
      </div>
      <div class="main-content">
        <div class="container-fluid">
          <div class="">
            <div class="col-md-12 col-sm-12">
              <h5 class="h5-responsive animated slideInLeft" data-wow-delay="0.10s">About KSI</h5>
            </div>
            <p class="text-muted animated slideInLeft" data-wow-delay="0.16s">
              Kingdom Support Initiatives is a God-ordained commission established to raising God’s children to
              change the world system and impact the world with the new life that is in Christ Jesus for a generation of
              new breed of kingdom citizens. Through her programmes, KSi will create platform for disciples to
              connect, interact, synergize, and strengthen one another to grow in God. <br>
              <strong>
                Slogan:
              </strong> raising a God-conscious this generation
            </p>
          </div>
          <!-- </div>
        <div class="container-fluid"> -->
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h5  class="h5-responsive animated slideInLeft" data-wow-delay="0.20s">About ‘In His Footstep’</h5>
            </div>
            <p class="text-muted animated slideInLeft" data-wow-delay="0.24s">
              ‘In His Footstep’ is a daily devotional to build continuous relationship with God. Through the word of God
              and the power of the Holy Spirit, the devotional seeks life to be transformed in Jesus Christ. The
              devotional is written by Kingdom Support Initiatives.

            </p>
          </div>
          <!-- </div>
        <div class="row"> -->
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h5 class="h5-responsive animated slideInLeft" data-wow-delay="0.10s">PUSH Network – Pray Until Something Happen Network</h5>
            </div>
            <br/>
            <div class="text-muted animated slideInLeft">
              The goal of this network is to create a safe for people to prayer and intercession.
            </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
                <h5 class="h5-responsive animated slideInLeft" data-wow-delay="0.14s">Inspire Impact</h5>
                <!-- <h4 class="my-4 font-weight-bold">Heading</h4> -->
              </div>
              <p class="text-muted animated slideInLeft" data-wow-delay="0.18s">
                  It is a podcast we are developing already to encourage and inspire God’s children to be bold for pursue whatever God is laying upon their hearts. Also, the podcast will create an opportunity for as many who want to explore Christianity.

              </p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--Footer-->
  <app-footer></app-footer>
  <!--/.Footer-->
</div>