<div class="main-container">
  <app-navbar></app-navbar>
  <div class="content-container">
    <div class="content-area">
      <div class="row">
        <div class="header-nav">
          <!-- <div class="col-12 nav-text"> -->
          <mdb-breadcrumb>
            <mdb-breadcrumb-item class="active">Blog</mdb-breadcrumb-item>
          </mdb-breadcrumb>
          <!-- </div> -->
        </div>

      </div>
      <div class="row">
        <div class="col-md-8 text-right">
          <p>
            Home <mdb-icon fas icon="angle-right"></mdb-icon> Blog
          </p>
        </div>
      </div>
      <div class="main-content">
        <main>
          <section>

            <h3 class="h3 text-center mb-5">Read Some of Our Blog Post</h3>

            <!--Grid row-->
            <div class="row wow fadeIn">
              <!--Grid column-->
              <div class="col-lg-6 col-md-12">

                <!-- <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p> -->
                <div class="post-thumnail-big">
                </div>
              </div>
              <!--/Grid column-->
              <!--Grid column-->
              <div class="col-lg-6 col-md-12 px-4">

                <!--First row-->
                <div class="row">
                  <!-- <div class="col-1 mr-3">
                    <i class="fas fa-code fa-2x indigo-text"></i>
                  </div> -->
                  <div class="col-12">
                    <h4 class="feature-title">The Amazing Grace That Saves</h4>
                    <p class="post-date">Date: 17 June, 2019 &nbsp; &nbsp; Author: John Doe</p>
                    <div style="height:5px"></div>
                    <p class="grey-text post-content">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                      <button class="btn btn-sm read-more">
                        Read More &nbsp; <mdb-icon fas icon="angle-double-right"></mdb-icon>
                      </button>
                    </p>
                  </div>
                </div>
                <!--/First row-->

                <div style="height:30px"></div>
              </div>
              <!--/Grid column-->
            </div>
            <!--/Grid row-->

          </section>
          <!-- popular post row -->
          <section class="popular-post-row">
            <h4 class="h4 text-left mb-2">Popular Posts</h4>

            <!--Grid row-->
            <div class="row" >
              <!--Grid column-->
              <div class="col-lg-4 col-md-4 animated slideInLeft" data-wow-delay="0.8s">

                <!-- <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p> -->
                <div class="post-thumnail-small">
                </div>
                <div class="popular-post-text">
                  <h5 class="h5 ">The Candle in the wind</h5>
                  <p class="text-gray-dark">Nazeh Abel</p>
                </div>
              </div>
              <!--/Grid column-->
              <!--Grid column-->
              <div class="col-lg-4 col-md-4 animated slideInUp" data-wow-delay="0.12s">

                <!-- <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p> -->
                <div class="post-thumnail-small">
                </div>
                <div class="popular-post-text">
                  <h5 class="h5 ">The Candle in the wind</h5>
                  <p class="text-gray-dark">Nazeh Abel</p>
                </div>
              </div>
              <!--/Grid column-->
              <!--Grid column-->
              <div class="col-lg-4 col-md-4">

                <!-- <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p> -->
                <div class="post-thumnail-small">
                </div>
                <div class="popular-post-text">
                  <h5 class="h5 ">The Candle in the wind</h5>
                  <p class="text-gray-dark">Nazeh Abel</p>
                </div>
              </div>
              <!--/Grid column-->

            </div>
            <!--/Grid row-->

          </section>
          <div style="height: 30px"></div>
          <section class="popular-post-row">
            <h5 class="h5 text-left mb-2">Recent Posts</h5>

            <!--Grid row-->
            <div class="row">
              <!--Grid column-->

              <div class="col-lg-4 col-md-4 slideInLeft animated" data-wow-delay="0.8s">
                <hr>
                <div class="row">
                  <div class="post-thumnail-small-xs col-md-4">
                  </div>
                  <div class="popular-post-text col-md-8">
                    <h5 class="h5 ">The Candle in the wind</h5>
                    <p class="text-gray-dark text-left">Nazeh Abel</p>
                  </div>
                </div>
              </div>
              <!--/Grid column-->
              <!--Grid column-->

              <div class="col-lg-4 col-md-4 animated slideInLeft" data-wow-delay="0.14s">
                <hr>
                <div class="row">
                  <div class="post-thumnail-small-xs col-md-4">
                  </div>
                  <div class="popular-post-text col-md-8">
                    <h5 class="h5 ">The Candle in the wind</h5>
                    <p class="text-gray-dark text-left">Nazeh Abel</p>
                  </div>
                </div>
              </div>
              <!--/Grid column-->
              <!--Grid column-->

              <div class="col-lg-4 col-md-4 animated slideInLeft" data-wow-delay="0.18s">
                <hr>
                <div class="row">
                  <div class="post-thumnail-small-xs col-md-4">
                  </div>
                  <div class="popular-post-text col-md-8">
                    <h5 class="h5 ">The Candle in the wind</h5>
                    <p class="text-gray-dark text-left">Nazeh Abel</p>
                  </div>
                </div>
              </div>
              <!--/Grid column-->

            </div>
            <!--/Grid row-->

              <!--Grid row-->
              <div class="row wow fadeIn">
                  <!--Grid column-->

                  <div class="col-lg-4 col-md-4">
                    <hr>
                    <div class="row">
                      <div class="post-thumnail-small-xs col-md-4">
                      </div>
                      <div class="popular-post-text col-md-8">
                        <h5 class="h5 ">The Candle in the wind</h5>
                        <p class="text-gray-dark text-left">Nazeh Abel</p>
                      </div>
                    </div>
                  </div>
                  <!--/Grid column-->
                  <!--Grid column-->

                  <div class="col-lg-4 col-md-4">
                    <hr>
                    <div class="row">
                      <div class="post-thumnail-small-xs col-md-4">
                      </div>
                      <div class="popular-post-text col-md-8">
                        <h5 class="h5 ">The Candle in the wind</h5>
                        <p class="text-gray-dark text-left">Nazeh Abel</p>
                      </div>
                    </div>
                  </div>
                  <!--/Grid column-->
                  <!--Grid column-->

                  <div class="col-lg-4 col-md-4">
                    <hr>
                    <div class="row">
                      <div class="post-thumnail-small-xs col-md-4">
                      </div>
                      <div class="popular-post-text col-md-8">
                        <h5 class="h5 ">The Candle in the wind</h5>
                        <p class="text-gray-dark text-left">Nazeh Abel</p>
                      </div>
                    </div>
                  </div>
                  <!--/Grid column-->

                </div>
                <!--/Grid row-->
                <div style="height: 30px"></div>
                <div class="row">
                 <div class="col-md-12 text-center">
                   <button class="btn btn-md">
                     View More Post
                   </button>
                 </div>
               </div>

          </section>
          <div style="height: 30px"></div>
        </main>
      </div>
    </div>
  </div>
  <!--Footer-->
  <app-footer></app-footer>
  <!--/.Footer-->
</div>
