<app-navbar></app-navbar>
<!--Carousel Wrapper-->
<div id="carousel-example-1z" data-ride="carousel">
  <app-sliders></app-sliders>
</div>

<!--Main layout-->
<main>
  <div class="container">

    <!--Section: Main info-->
    <section class="mt-5 wow slideInLeft">

      <!--Grid row-->
      <div class="row first-row">

            <!--Grid column--> 
        <div class="col-md-12 mb-10 animated slideInUp" data-wow-delay="0.6s">

          <!-- Main heading -->
          <h3 class="h3 mb-3 animated slideInUp" data-wow-delay="0.10s">Heading One Goes Here</h3>
          <p class="grey-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolorum, quis in aliquam
            accusantium
            accusamus temporibus, beatae eum perferendis reprehenderit quo ipsum minus iure. Dolores aliquam error
            numquam culpa voluptatibus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt libero eligendi molestiae iure quam, rem
            itaque eius minima! Autem tenetur perspiciatis eius explicabo maxime excepturi nobis pariatur optio enim
            rem.
          </p> 
          <p class="grey-text">Read details below to learn more about KSI.</p>
          <!-- Main heading -->
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Main info-->
  </div>
</main>
<!--Main layout-->

<div class="container-fluid parallax-1">
  <section class="parallax view jarallax parrallax-row slideInUp animated" style="background-image:linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.6)
  ), url('../assets/img/nicole-honeywill-1556953-unsplash.jpg');"  data-wow-delay="0.6s">

    <h2 class="h2 text-center mb-9 animated zoomInDown" data-wow-delay="0.10s">Some Text goes here for caption</h2>
    <h5 class="h5 text-center mb-5 zoomInDown animated">Some Text goes here for caption</h5>

    <!--Grid row-->
    <div class="row wow slideInLeft">

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 px-4">

        <div style="height:30px"></div>

      </div>
      <!--/Grid column-->
    </div>
    <!--/Grid row-->

  </section>
</div>
<main>
  <div class="container">

    <!--Section: Main info-->
    <section class="mt-5 wow animated slideInLeft" data-wow-delay="0.6s">

      <!--Grid row-->
      <div class="row second-row">
        <!--Grid column-->
        <div class="col-md-12 mb-10">

          <!-- Main heading -->
          <h3 class="h3 mb-3 animated slideInUp" data-wow-delay="0.10s">Heading One Goes Here</h3>
          <h5 class="feature-title animated slideInUp" data-wow-delay="0.12s">Some sub title</h5>
          <p class="text-muted grey-text animated slideInUp" data-wow-delay="0.14s">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque dolorum, quis
            in aliquam accusantium
            accusamus temporibus, beatae eum perferendis reprehenderit quo ipsum minus iure. Dolores aliquam error
            numquam culpa voluptatibus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt libero eligendi molestiae iure quam, rem
            itaque eius minima! Autem tenetur perspiciatis eius explicabo maxime excepturi nobis pariatur optio enim
            rem.
          </p>
          <p class="grey-text animated slideInUp" data-wow-delay="0.16s">Read details below to learn more about KSI.</p>
          <!-- Main heading -->
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Main info-->
  </div>
</main>
<div class="container-fluid subscribe-wp">
  <section class="parallax2 parrallax-row" style="background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
  url('../assets/img/nicole-honeywill-1556953-unsplash.jpg') ">
    <h3 class="mb-9 text-center animated slideInUp" data-wow-delay="0.6s">Subscribe</h3>
    <hr class=""/>
    <h2 class="h2 text-center mb-9 animated slideInUp" data-wow-delay="0.14s">Subscribe To Our Daily Devotion</h2>
    <!-- <h5 class="h5 text-left mb-5">Some Text goes here for caption</h5> -->

    <div class="subscript-wrapper animated slideInUp" data-wow-delay="0.16s">
      <div class="row">
        <form>
          <div class="form-group subscribe-group animated slideInUp" data-wow-delay="0.18s">
            <input type="email" placeholder="EMAIL ADDRESS" class="form-control-subscribe">
            <mdb-icon ></mdb-icon>
            <button class="btn btn-md btn-xs"> <mdb-icon fas icon="envelope"></mdb-icon> &nbsp; Submit</button>
          </div>
        </form>
      </div>
    </div>

    <!--Grid row-->
    <div class="row wow slideInUp">

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 px-4">

        <div style="height:30px"></div>

      </div>
      <!--/Grid column-->
    </div>
    <!--/Grid row-->

  </section>
</div>
<!--Footer-->
<app-footer></app-footer>
<!--/.Footer-->